@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('eot'),
		url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont.svg#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow_bottom:before {
	content: "\EA01";
}

.icon-arrow_circle_bottom:before {
	content: "\EA02";
}

.icon-arrow_circle_bottom_bg:before {
	content: "\EA03";
}

.icon-arrow_circle_left:before {
	content: "\EA04";
}

.icon-arrow_circle_left_bg:before {
	content: "\EA05";
}

.icon-arrow_circle_right:before {
	content: "\EA06";
}

.icon-arrow_circle_right_bg:before {
	content: "\EA07";
}

.icon-arrow_circle_top:before {
	content: "\EA08";
}

.icon-arrow_circle_top_bg:before {
	content: "\EA09";
}

.icon-arrow_left:before {
	content: "\EA0A";
}

.icon-arrow_right:before {
	content: "\EA0B";
}

.icon-arrow_top:before {
	content: "\EA0C";
}

.icon-cart:before {
	content: "\EA0D";
}

.icon-good_job:before {
	content: "\EA0E";
}
